{% extends "layout.html.twig" %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

            <div class="page-header">
                <h1>Core Values</h1>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: {{ progress }}%;">
                    <span class="sr-only">{{ progress }}% Complete</span>
                </div>
            </div>

            {% if compare is null %}
            <ul class="list-group">
            {% for item in sorted %}
                <li class="list-group-item">{{ item }}</li>
            {% endfor %}
            </ul>
            {% else %}
            <form method="POST" action="/" class="well">
                <input type="hidden" name="idx" value="{{ idx }}">
                <input type="submit" name="choice" value="{{ compare }}" class="btn btn-primary btn-lg"> vs
                <input type="submit" name="choice" value="{{ sorted[idx] }}" class="btn btn-primary btn-lg">
            </form>
            {% endif %}

            <div class="text-center">
            <form method="POST" action="/">
                <input type="submit" name="reset" value="Reset Quiz" class="btn btn-warning btn-xs">
            </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
